.Board {
  position: relative;
    display: grid;
    grid-template-columns: calc(.25*var(--tile-size))calc(8*var(--tile-size));
    top:-8%;
    z-index: 0;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));
    width: calc(8*var(--tile-size));
  

}



.tile--light {
    background-image: url("../../assets/images\ \(1\).jpeg"); 
    background-size: cover; 
    background-repeat: repeat;
  }

.tile--dark {
    background-image: url("../../assets/images.jpeg"); 
    background-size: cover; 
    background-repeat: repeat; 
} 
.highlight:after {
    content: ' ';
    display: block;
    position: relative;
    width: calc(.4*var(--tile-size));
    height: calc(.4*var(--tile-size));
    background-color: var(--highlight);
    border-radius: 50%;
    left: 30%;
    top: 28%;
}  

#winner {
    position: center;
    font-size: 400%;
    font-family: fantasy;
    color: rgba(228, 218, 218, 0.735);
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1;
    }
  }
  .chess {
    position: relative;
    left: -6%; /* Adjust this value to position the element as needed */
    top: -14%; /* Center vertically within the main container */
    transform: translateY(-50%);
    width: calc(0.3 * var(--size));
    height: calc(0.3 * var(--size));
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgb(255, 4, 4);
    box-shadow: 0 0 10px 5px rgb(255, 4, 4);
  }
  
  /* Media Query for Small Screens */
  
  
  .chess.active{
    background-color:rgba(50, 201, 4, 0.831) ;
    box-shadow: 0 0 10px 5px rgba(50, 201, 4, 0.831);
    
    
  }
  .moveleft {
    position: relative;
    top: 10%;
    left:110%;
    width:15vw;
    font-size:x-large;
    font-family: fantasy;
    color:rgb(177, 182, 187);
  }
  .text {
    position: absolute;
    top: 48%;
    left: 46%;
    font-size: 500%;
    color: rgba(0, 0, 0, 0.303);
    transform: translate(-40%, -50%);
    font-family: fantasy; /* Replace 'Your Interesting Font' with the desired font name */
    user-select: none; /* Prevent text selection */
    pointer-events: none; /* Make it unclickable */
  }