

.drop-zone {
    height:calc(var(--tile-size)*1.5);
    position: relative;
    left:calc(var(--tile-size)*.25);
    
    
}

.drop-zone  div{
  width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    background-color: rgb(210, 210, 211);

    
}
.drop-zone .active{transition: all ease-in-out 500ms;}

.drop-zone .active.column-0{margin-left: 0;}
.drop-zone .active.column-1{margin-left: 100px;}
.drop-zone .active.column-2{margin-left: 200px;}
.drop-zone .active.column-3{margin-left: 300px;}
.drop-zone .active.column-4{margin-left: 400px;}
.drop-zone .active.column-5{margin-left: 500px;}
.drop-zone .active.column-6{margin-left: 600px;}
.drop-zone .active.column-7{margin-left: 700px;}

.drop-zone .active.row-0 {transform : translateY(150px)}
.drop-zone .active.row-1 {transform : translateY(250px)}
.drop-zone .active.row-2 {transform : translateY(350px)}
.drop-zone .active.row-3 {transform : translateY(450px)}
.drop-zone .active.row-4 {transform : translateY(550px)}
.drop-zone .active.row-5 {transform : translateY(650px)}
.drop-zone .active.row-6 {transform : translateY(750px)}
.drop-zone .active.row-7 {transform : translateY(850px)}

.drop-zone .active.column--.row--{transition: none;}