
:root{
<<<<<<< HEAD
    --tile-size: 10vh;
=======
    --tile-size:10vh;
>>>>>>> 8fc3967aff7469aadd58057a6533850a699fec91
    --size:10vh;
    --dark-tile:#ab7249;
    --bg-color:rgb(0, 0, 0);
    --highlight:rgba(0,0,0,.1);
    --rad: 9.5vh;
  }

  @media all and (max-width:45vh){
    :root{
        --tile-size:10vh;
    }
  }
