
:root{
    --tile-size: 10vh;
    --size:10vh;
    --dark-tile:#ab7249;
    --bg-color:rgb(0, 0, 0);
    --highlight:rgba(0,0,0,.1);
    --rad: 9.5vh;
  }

  @media all and (max-width:450px){
    :root{
        --tile-size:100px;
    }
  }
