body {
    background-image: url("./assets/bg-4.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 

  }
  
.login {
    height: 70vh;
    width: 55vh;
    border-radius: 2vh;
    border: solid 2px #131313;
    background-color: #353434c8;
    box-shadow: 0px 0px 90px 4px  #969493;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor:auto;
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-50%, 20%); 

  }
  .piecee{
    background-image: url("./assets/piece.png");
    height:50vh;
    width:60vh;
    left:55%;
    bottom:10%;
    transform: rotate(20deg);
    
    
  }
  .connecte{
    background-image: url("./assets/conn.png");
    background-size: cover; 
    background-repeat: no-repeat;
    height:30vh;
    width:30vh;
    margin-top: -40%;
    margin-left: 50%;
    transform: rotate(-30deg);
  }
  .conne{
    background-image: url("./assets/sdfh.png");
    background-size: cover; 
    background-repeat: no-repeat;
    height:30vh;
    width:30vh;
    margin-top: -20%;
    margin-left: 75%;
    transform: rotate(40deg);
  }
  
  
  .circlee{
    height:16vh;
    width:16vh;
    position: relative;
    border-radius: 50%;
    background-size: 90%; /* Fit the image perfectly within the circle */
    background-repeat: no-repeat;
    background-color: #edc148;
    background-image: url("./assets/connect.png");
    transform: translate(-0%,-24%);
    
  }

  .name{
    transform: translate(-0%, -50%);
    user-select: none;
    font-weight: 600;
    font-size: 2.8vh;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
  }
  
  form{
    transform: translate(-0%,-10%);
  }
  
  .rollno{
    position: relative;
    height:6vh;
    width:46vh;
    background-color:  #fff;
    border-radius: 2vh;
    cursor: text;
    transform: translate(6%,-30%);
   
    font-weight: 400;
    font-size: large;
    padding-left: 2vh;
    
  }



  .rollno::placeholder {
    
    font-weight: normal;
    font-size: large; /* Optionally, you can change the font weight of the placeholder */
    color: #999; /* Optionally, you can change the color of the placeholder text */
  }
 
  .password{
    position: relative;
    height:6vh;
    width:46vh;
    background-color:  #fff;
    border-radius: 2vh;
    cursor: text;
    transform: translate(6%,0%);
    
    font-weight: 400;
    font-size: large;
    padding-left: 2vh;
  }
  .password::placeholder {
    
    font-weight: normal; /* Optionally, you can change the font weight of the placeholder */
    color: #999; /* Optionally, you can change the color of the placeholder text */
  }

  .round{
    position: relative;
    height:6vh;
    width:46vh;
    background-color:  #fff;
    border-radius: 2vh;
    cursor: text;
    transform: translate(6%,30%);
    
    font-weight: 400;
    font-size: large;
    padding-left: 2vh;
  }
  .round::placeholder {
    
    font-weight: normal; 
    color: #999; 
  }
  .button{
    height:5vh;
    width:15vh;
    position:relative;
    transform:translate(130%,140%);

    border-radius: 1vh;
    font-weight: 500;
    font-size: large;
    

  }
  
